<header class="d-none d-md-block">
    <div class="row header_navbar">
        <div class="col-5">

        </div>
        <div class="col-2">
            <div class="header_title">
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleText">Weekly Menu <i class="fas fa-seedling"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row text-center">
                <div class="col-4">
                    <h6 class="float-right navText mt-3"></h6>
                </div>
                <div class="col-3">
                    <h6 routerLink="/register" class="text-center navText mt-3">SING IN</h6>
                </div>
                <div class="col-5">
                    <h6 routerLink="/login" class="float-left navText mt-3">LOG IN</h6>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="d-block d-md-none">
    <div class="pos-f-t d-block d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light pt-3 pb-1 px-4">
                <h5 class="navText"></h5>
                <h5 routerLink="/register" class="navText">SIGN IN</h5>
                <h5 routerLink="/login" class="navText">LOG IN</h5>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler menu__button" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>

<main>
    <div class="banner main__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="main__container">
                        <div class="main__text">
                            <h2 style="font-weight: 100; font-size: 2.5rem; text-shadow: 1px 1px white;">Feel better with our guided meal plan.</h2>
                            <h2 class="mt-2" style="font-weight: 100; font-size: 3rem; text-shadow: 1px 1px white"><span class="effectText">WEEKLY
                                    MENUS</span> BASED ON YOUR PROFILE</h2>
                            <button routerLink="/register" type="button"
                                class="btn btn-success main__button mt-5 monText">Sign In <span
                                    class="nanText">>></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>