<header class="d-none d-md-block">
    <div class="row header_navbar">
        <div class="col-5">

        </div>
        <div class="col-2">
            <div class="header_title">
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleText">Weekly Menu <i class="fas fa-seedling"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row text-center">
                <div class="col-4">
                    <h6 routerLink="/home" class="float-right navText mt-3">HOME</h6>
                </div>
                <div class="col-3">
                    <h6 routerLink="/about" class="text-center navText mt-3">ABOUT US</h6>
                </div>
                <div class="col-5">
                    <h6 routerLink="/login" class="float-left navText mt-3">LOGIN</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="d-block d-md-none">
    <div class="dropdown header__menu">
        <button class="btn dropdown-toggle menu__button" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h button__icon"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button routerLink="/home" class="dropdown-item navText" type="button">HOME</button>
            <button routerLink="/about" class="dropdown-item navText" type="button">ABOUT US</button>
            <button routerLink="/login" class="dropdown-item navText" type="button">LOGIN</button>
        </div>
    </div>
</header>

<main>
    <div class="banner main__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="main__container">
                        <div class="main__text">
                            <h2 style="font-weight: 100; font-size: 2.5rem;">Feel better with our guided meal plan.</h2>
                            <h2 class="mt-2" style="font-weight: 100; font-size: 3rem;"><span class="effectText">WEEKLY
                                    MENUS</span> BASED IN YOUR PROFILE</h2>
                            <button routerLink="/register" type="button"
                                class="btn btn-success main__button mt-5 monText">Sign In <span
                                    class="nanText">>></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>