<header class="d-none d-md-block">
    <div class="row header_navbar">
        <div class="col-5">

        </div>
        <div class="col-2">
            <div class="header_title">
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleText">Weekly Menu <i class="fas fa-seedling"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row text-center">
                <div class="col-4">
                    <div *ngIf="dietist === false">
                        <h6 routerLink="/home" class="float-right navText mt-3">HOME</h6>
                    </div>
                    <div *ngIf="dietist === true">
                        <h6 routerLink="/add-dish" class="float-right navText mt-3">ADD DISH</h6>
                    </div>
                </div>
                <div class="col-3">
                    <h6 routerLink="/details" class="text-center navText mt-3">PROFILE</h6>
                </div>
                <div class="col-5">
                    <h6 (click)="logout()" class="float-left navText mt-3">LOG OUT</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="d-block d-md-none">
    <div class="pos-f-t d-block d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light pt-3 pb-1 px-4">
                <div *ngIf="dietist === false">
                    <h5 routerLink="/home" class="navText">HOME</h5>
                </div>
                <div *ngIf="dietist === true">
                    <h5 routerLink="/add-dish" class="navText">ADD DISH</h5>
                </div>
                <h5 routerLink="/details" class="navText">PROFILE</h5>
                <h5 (click)="logout()" class="navText">LOG OUT</h5>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler menu__button" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>

<main>
    <div class="banner main__background">
        <div class="row w-100" style="margin: 0 auto;">
            <div class="col-1 col-md-3">
            </div>
            <div class="col-10 col-md-6">
                <div class="pc__display d-none d-md-block">

                </div>
                <div *ngIf="vista == 'loggedIn'" class="data__container">
                    <div class="details__welcome">
                        <p class="smlltext monText">Hi <span class="welcome__name">{{userName}}</span>!</p>
                        <p class="smlltext monText mt-2 mb-4">Here's the menu we've generated:</p>
                    </div>
                    <div class="menu__details">
                        <p class="smlltext monText text-center welcome__name">LUNCH</p>
                        <p (click)="showDetails('starterLunch',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{starter_lunch}}</p>
                        <div *ngIf="details == 'starterLunch'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let quantity of menuData['starterLunch']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['starterLunch']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p (click)="showDetails('mainLunch',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{main_lunch}}</p>
                        <div *ngIf="details == 'mainLunch'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12" *ngFor="let quantity of menuData['mainLunch']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['mainLunch']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <p (click)="showDetails('dessertLunch',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{dessert_lunch}}</p>
                        <div *ngIf="details == 'dessertLunch'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let quantity of menuData['dessertLunch']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['dessertLunch']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr style="width: 50%; margin: 3 auto; margin-bottom: 0;">
                    <div class="menu__details mt-4">
                        <p class="smlltext monText text-center welcome__name">DINNER</p>
                        <p (click)="showDetails('starterDinner',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{starter_dinner}}</p>
                        <div *ngIf="details == 'starterDinner'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let quantity of menuData['starterDinner']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['starterDinner']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p (click)="showDetails('mainDinner',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{main_dinner}}</p>
                        <div *ngIf="details == 'mainDinner'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12" *ngFor="let quantity of menuData['mainDinner']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['mainDinner']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <p (click)="showDetails('dessertDinner',$event)"
                            class="smlltext monText mt-2 mb-4 text-center dishes_text">{{dessert_dinner}}</p>
                        <div *ngIf="details == 'dessertDinner'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let quantity of menuData['dessertDinner']['quantity']">
                                            <small class="monText mt-1 mb-1 float-right">{{quantity}} g</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12"
                                            *ngFor="let ingredient of menuData['dessertDinner']['ingredients']">
                                            <small class="monText mt-1 mb-1 float-left">{{ingredient}}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <p class="mb-2 smlltext monText text-light float-right text-center"
                        style="font-weight: 700; text-shadow: 1px 1px black; margin-top: 9% !important;">Click your dish
                        to see
                        the
                        details
                        & double click to hide them*</p>
                </div>


                <div *ngIf="vista == 'loading'" class="loading__container">
                    <div class="details__welcome">
                        <p class="smlltext monText">Hi <span class="welcome__name">{{userName}}</span>!</p>
                        <p class="smlltext monText mt-2 mb-4">We are generating your menu!</p>
                    </div>
                    <div class="row">
                        <div class="col-12 img__container">
                            <img class="menu__img" src="../../assets/menu-loading.png" alt="Fork img">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 menu__loading">
                            <div class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="vista == 'loggedOut'"
                    class="p-3 alert alert-success mt-5 monText text-center smlltext loggedOut" role="alert">
                    <p class="monText text-success mb-0">You are not logged anymore.</p>
                    <p class="monText text-success mb-0">See you soon!</p>
                </div>
            </div>
            <div class="col-1 col-md-3">
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="row footer__navbar d-none d-md-block">

    </div>
</footer>