.navText{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    transition: .5;
}
.monText{
    font-family: 'Montserrat', sans-serif;
}
.titleText{
    font-size: 1.3rem;
    transition: .2s;
    font-family: 'Montserrat', sans-serif;
}
.leafText{
    font-size: 0.2rem;
    transition: .2s;
    color: white;
}
.navText, .titleText{
    cursor: pointer;
}
.header_navbar{
    width: 100%;
    margin: 0 0;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
.header_title{
    border-bottom: 1px solid rgb(18, 135, 53);
    border-top: 1px solid rgb(18, 135, 53);
    text-align: center;
    padding-top: 6%;
    cursor: pointer;
    transition: .1s;
}
.navText:hover{
    color:sandybrown;
    font-size: 1.2rem;
    background-color: white !important;
    outline: none;
    border: none;    
}
.navText:focus{
    outline: 0;
}
.titleText:hover{
    color: rgb(18, 135, 53);
    font-size: 1.5rem;
}

.header_title:hover{
    border-bottom: none;
    border-top: none;
}
.nanText{
    font-family: 'Nanum Gothic', sans-serif;
}
.effectText{
    font-weight: 900;
    color: black;
    transition: .2s;
}
.effectText:hover{
    color: #444;
}
.header__menu{
    position: absolute;
    left: 12vw;
    top: 0vh;
}
.button__icon{
    font-size: 3rem;
}
.menu__button:focus{
    outline: none;
    box-shadow: none !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.main__background{
    background-image: url('../../assets/dietist-background5.jpg');
    background-size:cover;
    min-height: 150vh;
}
.pc__display{
    height: 5vh;
}
.data__container{
    width: 100%;
    padding: 5%;
    background-color: white;
    border-radius: .25rem;
    opacity: .8;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 10%;
}
.loading__container{
    width: 100%;
    padding: 5%;
    background-color: white;
    border-radius: .25rem;
    opacity: .8;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 7%;
    min-height: 70vh;
}
.loading__img{
    width: 50%;
    position: relative;
}
.smlltext{
    font-size: small;
}

.footer__navbar{
    width: 100%;
    margin: 0 0;
    height: 7vh;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 1;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 8px solid #444;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #444 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.add__input{
    width: 100%;
    opacity: .9;
}
.add__button{
    background-color: sandybrown;
    border-radius: 50%;
    height: 5vh;
}
.plus__button{
    font-size: larger;
    color: white;
    font-weight: 700;
    line-height: 2.5vh;
}

.menu__button:focus{
    outline: none;
    border: none;
    box-shadow: none !important;
}

.loggedOut{
    top: 10vh;
    width: 75%;
    margin: 0 auto;
}

.welcome__name{
    color:sandybrown;
    font-weight: 700;
}

@media only screen and (min-width: 315px) and (max-width: 415px){
    .data__container{
        margin-top: 5%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 416px) and (max-width: 769px){
    .data__container{
        margin-top: 13%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 770px) and (max-width: 979px){
    .data__container{
        margin-top: 15%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 980px) and (max-width: 1209px){
    .data__container{
        margin-top: 12%;
        width: 100%;
        height: 70vh;
    }
    .overflow__container{
        margin-top: 3%;
        height: 40vh;
        overflow-y: scroll;
    }
    
}
.status__alert{
    margin-top:12%;
    margin-bottom: 5%;
}
@media only screen and (min-width: 1210px){
    .data__container{
        margin-top: 8%;
        width: 100%;
        height: 70vh;
    }
    .overflow__container{
        margin-top: 3%;
        height: 42vh;
        overflow-y: scroll;
    }
    .status__alert{
        margin-top: 10%;
        margin-bottom: 7%;
    }
    
}
@media only screen and (min-width: 1290px){
        .status__alert{
        margin-top: 9%;
        margin-bottom: 7%;
    }
    
}

.menu__img{
    width: 50%;
    position: relative;
}
.img__container{
    text-align: center;
    margin-top: 10%;
}
.menu__loading{
    text-align: center;
    margin-top: 5%;
}
.main__input{
    width: 60%;
    opacity: .9;
}
.error{
    margin-top: 3%;
    font-size: small;
    color: #dc3545;
}
input.ng-invalid.ng-dirty.ng-touched{
    border-left: 5px solid #dc3545;
}
input.ng-touched.ng-pristine{
    border-left: 5px solid #dc3545;
}
.main__buton{
    border-radius: 0px !important;
    background-color: white;
    border: 2px solid sandybrown;
    color: sandybrown;
}
.main__buton:hover{
    background-color: sandybrown;
    color:white;
    opacity: .8;
}
.main__buton:focus{
    outline: none;
    box-shadow: none !important;
    background-color: tomato !important;
    border: 2px solid tomato !important;
    color:white !important;
}
.main__buton:active{
    outline: none;
    box-shadow: none !important;
    background-color: tomato !important;
    border: 2px solid tomato !important;
    color:white !important;
}
.add__button:focus{
    outline: none;
    box-shadow: none !important;
    background-color: tomato !important;
    color:white !important;
}
.erase__icon{
    cursor: pointer;
    color: sandybrown;
}
.erase__icon:hover{
    color: sandybrown;
    opacity: .8;
}
.erase__icon:focus{
    outline: none;
    box-shadow: none !important;
    color: tomato !important;
}
.erase__icon:active{
    outline: none;
    box-shadow: none !important;
    color: tomato !important;
}
.dish__container{
    border: 1px solid sandybrown;
    padding: 5%;
    border-radius: .25rem;
    margin: 2%;
}
.capitalize__text{
    text-transform: capitalize;
}
.hr__separator{
    border-bottom: 1px solid sandybrown;
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.loaded__data{
    height: 45vh;

}
@media only screen and (max-width: 979px){
    .loaded__data{
        height: auto;
    }
}

@media only screen and (max-width: 499px){
    .menu__img{
        margin-top: 35%;
    }

}

@media only screen and (min-width: 500px) and (max-width: 669px){
    .menu__img{
        margin-top: 25%;
    }

}

@media only screen and (min-width: 670px) and (max-width: 769px){
    .menu__img{
        margin-top: 15%;
    }

}
@media only screen and (min-width: 770px) and (max-width: 869px){
    .menu__img{
        margin-top: 25%;
    }

}

@media only screen and (min-width: 870px) and (max-width: 1139px){
    .menu__img{
        margin-top: 15%;
    }

    
}
@media only screen and (min-width: 1140px) and (max-width: 1220px){
    .menu__img{
        margin-top: 10%;
    }

    
}
@media only screen and (min-width: 1210px){
    .menu__img{
        margin-top: 5%;
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 420px){
    .lds-ring div {
        width: 36px;
        height: 36px;
      }
    .menu__loading{
        margin-left: 3% !important;
    }
    
}
@media only screen and (max-width: 499px){
    .loading__img{
        margin-top: 35%;
        width: 80%;
    }

}

@media only screen and (min-width: 500px) and (max-width: 669px){
    .loading__img{
        margin-top: 25%;
        width: 70%;
    }

}

@media only screen and (min-width: 670px) and (max-width: 769px){
    .loading__img{
        margin-top: 15%;
        width: 60%;
    }

}
@media only screen and (min-width: 770px) and (max-width: 869px){
    .loading__img{
        margin-top: 25%;
        width: 50%;
    }

}

@media only screen and (min-width: 870px) and (max-width: 1000px){
    .loading__img{
        margin-top: 15%;
    }

    
}
@media only screen and (min-width: 1140px) and (max-width: 1220px){
    .loading__img{
        margin-top: 5%;
    }

    
}
@media only screen and (min-width: 1221px){
    .loading__img{
        margin-top: 0%;
    }
    
}
@media only screen and (min-width: 315px) and (max-width: 415px){
    .loading__container{
        margin-top: 5%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 416px) and (max-width: 769px){
    .loading__container{
        margin-top: 13%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 770px) and (max-width: 979px){
    .loading__container{
        margin-top: 15%;
        width: 100%;
        height: auto;
    }
    
}
@media only screen and (min-width: 1000px) and (max-width: 1139px){
    .loading__img{
        margin-top: 6%;
    }
    
}
@media only screen and (min-width: 980px) and (max-width: 1209px){
    .loading__container{
        margin-top: 12%;
        width: 100%;
        height: 70vh;
    }
    
}
@media only screen and (min-width: 1210px){
    .loading__container{
        margin-top: 8%;
        width: 100%;
        height: 70vh;
    }
    .loading__img{
        width: 40%;
    }
    
}
