<header class="d-none d-md-block">
    <div class="row header_navbar">
        <div class="col-5">

        </div>
        <div class="col-2">
            <div class="header_title">
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleText">Weekly Menu <i class="fas fa-seedling"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row text-center">
                <div class="col-4">
                    <div *ngIf="dietist === false">
                        <h6 routerLink="/single-menu" class="float-right navText mt-3">MENU</h6>
                    </div>
                    <div *ngIf="dietist === true">
                        <h6 routerLink="/add-dish" class="float-right navText mt-3">ADD DISH</h6>
                    </div>
                </div>
                <div class="col-3">
                    <h6 routerLink="/details" class="text-center navText mt-3">PROFILE</h6>
                </div>
                <div class="col-5">
                    <h6 (click)="logout()" class="float-left navText mt-3">LOG OUT</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="d-block d-md-none">
    <div class="pos-f-t d-block d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light pt-3 pb-1 px-4">
                <div *ngIf="dietist === false">
                    <h5 routerLink="/single-menu" class="navText">MENU</h5>
                </div>
                <div *ngIf="dietist === true">
                    <h5 routerLink="/add-dish" class="navText">ADD DISH</h5>
                </div>
                <h5 routerLink="/details" class="navText">PROFILE</h5>
                <h5 (click)="logout()" class="navText">LOG OUT</h5>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler menu__button" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</header>

<main>
    <div class="banner main__background">
        <div class="row w-100" style="margin: 0 auto;">
            <div class="col-1">
            </div>
            <div class="col-10" style="margin: 0 auto;">
                <div class="pc__display d-none d-md-block">

                </div>
                <div *ngIf="vista == 'loggedIn'">
                    <div class="d-none d-md-block table__container">
                        <div class="details__welcome">
                            <p class="smlltext monText">Hi <span class="welcome__name">{{userName}}</span>!</p>
                            <p class="smlltext monText mt-2 mb-4">Here's the diet we've generated for this week:</p>
                        </div>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th [routerLink]="['/selected-menu', menu1._id]"
                                        class="monText text-center dishes_text" scope="col">MONDAY</th>
                                    <th [routerLink]="['/selected-menu', menu2._id]"
                                        class="monText text-center dishes_text" scope="col">TUESDAY</th>
                                    <th [routerLink]="['/selected-menu', menu3._id]"
                                        class="monText text-center dishes_text" scope="col">WEDNESDAY</th>
                                    <th [routerLink]="['/selected-menu', menu4._id]"
                                        class="monText text-center dishes_text" scope="col">THURSDAY</th>
                                    <th [routerLink]="['/selected-menu', menu5._id]"
                                        class="monText text-center dishes_text" scope="col">FRIDAY</th>
                                    <th [routerLink]="['/selected-menu', menu6._id]"
                                        class="monText text-center dishes_text" scope="col">SATURDAY</th>
                                    <th [routerLink]="['/selected-menu', menu7._id]"
                                        class="monText text-center dishes_text" scope="col">SUNDAY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="monText text-center smlltext welcome__name">LUNCH</td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu1.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu2.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu3.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu4.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu5.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu6.starterLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu7.starterLunch.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext">{{menu1.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu2.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu3.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu4.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu5.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu6.mainLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu7.mainLunch.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext ">
                                        {{menu1.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu2.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu3.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu4.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu5.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu6.dessertLunch.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu7.dessertLunch.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" class="monText text-center smlltext welcome__name">DINNER</td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu1.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu2.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu3.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu4.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu5.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu6.starterDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu7.starterDinner.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext">{{menu1.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu2.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu3.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu4.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu5.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu6.mainDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">{{menu7.mainDinner.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu1.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu2.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu3.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu4.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu5.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu6.dessertDinner.name}}
                                    </td>
                                    <td class="monText text-center capitalize__text smlltext">
                                        {{menu7.dessertDinner.name}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <button (click)="generateNew();" type="button"
                                class="btn btn-outline-success m-2 monText main__buton">Generate new</button>
                        </div>
                        
                        <p class="mb-2 smlltext monText text-light float-right text-center"
                            style="font-weight: 700; text-shadow: 1px 1px black; margin-top: 5% !important;">Click the
                            day name
                            to see
                            the
                            menu*</p>
                    </div>
                    <div class="data__container d-block d-md-none">
                        <div class="details__welcome">
                            <p class="smlltext monText">Hi <span class="welcome__name">{{userName}}</span>!
                            </p>
                            <p class="smlltext monText">Here's the diet we generated for this week:</p>
                        </div>
                        <div *ngFor="let menu of dietMenus, let i = index" class="menu__container">
                            <div class="menu__details">
                                <p [routerLink]="['/selected-menu', menu._id]" class="monText text-center dishes_text"
                                    style="font-weight: 700;">{{days[i]}}</p>
                                <p class="smlltext monText text-center welcome__name">LUNCH</p>
                                <p class="smlltext monText mt-2 mb-4 text-center capitalize__text ">
                                    {{menu.starterLunch.name}}</p>
                                <p class="smlltext monText mt-2 mb-4 capitalize__text text-center">
                                    {{menu.mainLunch.name}}
                                </p>
                                <p class="smlltext monText mt-2 mb-4 capitalize__text text-center">
                                    {{menu.dessertLunch.name}}</p>
                            </div>
                            <hr style="width: 50%; margin: 3 auto; margin-bottom: 0;">
                            <div class="menu__details mt-4">
                                <p class="smlltext monText text-center welcome__name">DINNER</p>
                                <p class="smlltext monText mt-2 mb-4 text-center capitalize__text ">
                                    {{menu.starterDinner.name}}</p>
                                <p class="smlltext monText mt-2 mb-4 text-center capitalize__text ">
                                    {{menu.mainDinner.name}}
                                </p>
                                <p class="smlltext monText mt-2 mb-4 text-center capitalize__text ">
                                    {{menu.dessertDinner.name}}</p>
                            </div>



                        </div>
                        <div class="text-center">
                            <button (click)="generateNew();" type="button"
                                class="btn btn-outline-success m-2 monText main__buton">Generate new</button>
                        </div>

                        <p class="mb-2 smlltext monText text-light float-right text-center"
                            style="font-weight: 700; text-shadow: 1px 1px black; margin-top: 9% !important;">Click the
                            day name
                            to see
                            the
                            menu*</p>
                    </div>
                </div>


                <div *ngIf="vista == 'loading'" class="loading__container">
                    <div class="details__welcome">
                        <p class="smlltext monText">Hi <span class="welcome__name">{{userName}}</span>!</p>
                        <p class="smlltext monText mt-2 mb-4">We are generating your diet!</p>
                    </div>
                    <div class="row">
                        <div class="col-12 img__container">
                            <img class="menu__img" src="../../assets/menu-loading.png" alt="Fork img">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 menu__loading ml-3">
                            <div class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="vista == 'loggedOut'"
                    class="p-3 alert alert-success mt-5 monText text-center smlltext loggedOut" role="alert">
                    <p class="monText text-success mb-0">You are not logged anymore.</p>
                    <p class="monText text-success mb-0">See you soon!</p>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="row footer__navbar d-none d-md-block">

    </div>
</footer>