<header class="d-none d-md-block">
    <div class="row header_navbar">
        <div class="col-5">

        </div>
        <div class="col-2">
            <div class="header_title">
                <div class="row">
                    <div class="col-12">
                        <h4 class="titleText">Weekly Menu <i class="fas fa-seedling"></i></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row text-center">
                <div class="col-4">
                </div>
                <div class="col-3">
                    <h6 routerLink="/home" class="text-center navText mt-3">HOME</h6>
                </div>
                <div class="col-5">
                    <h6 routerLink="/login" class="float-left navText mt-3">LOGIN</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="d-block d-md-none">

    <div class="pos-f-t d-block d-md-none">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light pt-3 pb-1 px-4">
                <h5 routerLink="/home" class="navText">HOME</h5>
                <h5 routerLink="/login" class="navText">LOGIN</h5>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler menu__button" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

</header>

<main>
    <div class="banner main__background">
        <div class="row w-100" style="margin: 0 auto;">
            <div class="col-1 col-md-3">
            </div>
            <div class="col-10 col-md-6 form__container">
                <div class="pc__display d-none d-md-block">

                </div>
                <div class="form__background">
                    <form #registerForm="ngForm" (ngSubmit)="sendData(registerForm)" class="registerForm">

                        <!--Nom-->

                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="name">Name</label>
                                </div>
                                <div class="col-8">
                                    <input id="name" type="text" #inputName="ngModel" [(ngModel)]="name"
                                        name="inputName" class="form-control main__input smlltext" required
                                        pattern="[A-zÀ-ú]*" placeholder="Name">

                                    <p class="error" *ngIf="inputName.invalid && inputName.touched && inputName.dirty">
                                        Invalid format*</p>
                                    <p class="error" *ngIf="inputName.touched && inputName.pristine">Name is mandatory*
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--Cognom-->
                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="name">Last Name</label>
                                </div>
                                <div class="col-8">
                                    <input id="lastName" type="text" #inputLastName="ngModel" [(ngModel)]="lastName"
                                        name="inputLastName" class="form-control main__input smlltext"
                                        pattern="[A-zÀ-ú]*" placeholder="Last Name">

                                    <p class="error"
                                        *ngIf="inputLastName.invalid && inputLastName.touched && inputLastName.dirty">
                                        Invalid format*</p>
                                    <p class="error" *ngIf="inputLastName.touched && inputLastName.pristine">Last name
                                        is mandatory*</p>
                                </div>
                            </div>
                        </div>

                        <!--Username-->
                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="username">Username</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" #inputUsername="ngModel" [(ngModel)]="username"
                                        name="inputUsername" class="form-control main__input smlltext" required
                                        pattern="^[a-z0-9]([._](?![._])|[a-z0-9]){6,18}[a-z0-9]$"
                                        placeholder="Username">
                                    <p class="error"
                                        *ngIf="inputUsername.invalid && inputUsername.touched && inputUsername.dirty">
                                        Invalid format. Username should have at least 8 characters lowercase*</p>
                                    <p class="error" *ngIf="inputUsername.touched && inputUsername.pristine">Username is
                                        mandatory*</p>
                                </div>
                            </div>
                        </div>

                        <!--Email-->
                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="email">Email</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" #inputEmail="ngModel" [(ngModel)]="email" name="inputEmail"
                                        class="form-control main__input smlltext" required pattern="\S+@\S+\.\S+"
                                        placeholder="Email">
                                    <div class="error"
                                        *ngIf="inputEmail.invalid && inputEmail.touched && inputEmail.dirty">
                                        Invalid format*
                                    </div>
                                    <div class="error" *ngIf="inputEmail.touched && inputEmail.pristine">
                                        Email is mandatory*
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Password-->
                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="name">Password</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" #inputPassword="ngModel" [(ngModel)]="password"
                                        name="inputPassword" class="form-control main__input smlltext" required
                                        pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-_]).{8,}"
                                        placeholder="Password">
                                    <p class="error"
                                        *ngIf="inputPassword.invalid && inputPassword.touched && inputPassword.dirty">
                                        Invalid format. Password should have at least 8 characters (1 lowercase, 1
                                        uppercase, 1 number and 1 special character)*
                                    </p>
                                    <p class="error" *ngIf="inputPassword.touched && inputPassword.pristine">Password is
                                        mandatory*</p>
                                </div>
                            </div>
                        </div>

                        <!--Dietist-->
                        <div class="form-group form__group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="smlltext float-right" for="name">Are you a dietist?</label>
                                </div>
                                <div class="col-8">
                                    <div class="form-check" id="checks">
                                        <input [(ngModel)]="dietistTrue" name="dietistTrue" class="form-check-input"
                                            type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label smlltext" for="defaultCheck1">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button [disabled]="registerForm.invalid" type="submit"
                                class="btn btn-success m-2 main__buton">Sign In</button>
                        </div>

                        <div *ngIf="inputName.dirty && inputLastName.dirty && inputUsername.dirty && inputEmail.dirty && inputPassword.dirty && registerForm.invalid && registerForm.invalid"
                            class="alert alert-danger mt-5 monText smlltext" role="alert">
                            Invalid from! Please, check your credentials.
                        </div>

                        <div class="text-center mt-2">
                            <small class="monText">Are you registered already?</small>
                            <button routerLink="/login" class="btn btn-link login__button">Log In</button>
                        </div>

                        <div *ngIf="status" class="alert alert-warning mt-3 mb-2 monText smlltext" role="alert">
                            {{status}}
                        </div>

                        <div class="row">
                            <div class="col-12 form__registerLoad ml-3">
                                <div class="lds-ring" *ngIf="registerLoad === true">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-3">
        </div>
    </div>
</main>

<footer>
    <div class="row footer__navbar d-none d-md-block">

    </div>
</footer>